        html{
            overflow-y: scroll;
        }
        body {
            font-family: sans-serif;
            max-width: 800px;
            margin: 0 auto;
        }
        header{
            background-color: #333;
            padding: 20px 0;
            text-align: center;
        }
        h1 {
            color: red;
        }
        p {
            color: blue;
        }
        .highlight {
            background-color: yellow;
            padding: 20px;
            border: 4px solid black;
            border-radius: 10px;
        }
        button {
            background-color: blue;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
        }
        input, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }
        nav a{
            text-decoration: none;
            color: rgb(255, 255, 255);
            margin: 0 10px;
            font-weight: bold;
        }
        nav a:hover{
            color: blue;
            text-decoration: underline;
        }
        footer {
            text-align: center;
            margin-top: 50px;
            border-top: 1px solid #ccc;
            padding-top: 20px;
            font-size: 0.8em;
       }
       footer p {
            color: #777;
       }
       .avatar {
            width: 150px;
            border-radius: 50%;
            border: 5px solid white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
       }
    